# Text editors swap/temporary files
*~
*.swp
*.orig
*.bak
*.o
*tags
.cproject
.project

# Dependency files
*.d

# Compiled python files
*.pyc

# Libraries
*.a
*.so
*.so.*

# Epics files
bin
lib
include
db
dbd
*_BAK.adl
documentation.html
envPaths*
cdCommands
dllPath.bat
auto_settings.sav*
configure/*.local
O.*/
*~
